nav {
  /*background-color: #000000;*/
  background-color: #4e5b4a;
  top: 0;
  position: fixed;
  z-index:999;
  overflow: hidden;
  width: 100%;
  font-family: 'Quicksand Book';
  box-shadow: 0 15px 15px -15px rgb(0, 0, 0, 0.6);
}

.container {
  height: 30px;
}

img {
  float: left;
  height: inherit;
  padding-left: 10px;
  vertical-align: top;
}
/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  padding: 10px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #4CAF50;
  color: white;
}
ul {
  list-style-type: none;
  align-content: center;
}
