
.person {
  flex: 1;
  padding: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.people {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #98aa8a;
}

p {
  margin: 0% 0% 0% 0%;
}
