
<div class="container">
  <h2>Who is Hollbium?</h2>
  <div class="people">
    <div class="person">
      <img src="/assets/Images/dp.jpg">
      <h5>Name, title</h5>
      <p>
        blablabla
      </p>
      <div class="social-container">social</div>
    </div>
    <div class="person">
      <img src="/assets/Images/dp.jpg">
      <h5>Name, title</h5>
      <p>
        blablabla
      </p>
      <div class="social-container">social</div>
    </div>
    <div class="person">
      <img src="/assets/Images/dp.jpg">
      <h5>Name, title</h5>
      <p>
        blablabla
      </p>
      <div class="social-container">social</div>
    </div>
    <div class="person">
      <img src="/assets/Images/dp.jpg">
      <h5>Name, title</h5>
      <p>
        blablabla
      </p>
      <div class="social-container">social</div>
    </div>
  </div>
</div>
