
.person {
  flex: 1;
  padding: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.people {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

p {
  margin: 0% 0% 0% 0%;
}

img {
  padding-top: 10px;
  border-radius: 100%;
}
