@font-face {
    font-family: 'Quicksand';
    src: url('/app/assets/Quicksand/QuicksandLight-Regular.eot');
    src: url('/app/assets/Quicksand/QuicksandLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('/app/assets/Quicksand/QuicksandLight-Regular.ttf') format('truetype'),
        url('/app/assets/Quicksand/QuicksandLight-Regular.svg#QuicksandLight-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Book';
    src: url('/app/assets/Quicksand/QuicksandBook-Regular.eot');
    src: url('/app/assets/Quicksand/QuicksandBook-Regular.eot?#iefix') format('embedded-opentype'),
        url('/app/assets/Quicksand/QuicksandBook-Regular.ttf') format('truetype'),
        url('/app/assets/Quicksand/QuicksandBook-Regular.svg#QuicksandBook-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Dash';
    src: url('/app/assets/Quicksand/QuicksandDash-Regular.eot');
    src: url('/app/assets/Quicksand/QuicksandDash-Regular.eot?#iefix') format('embedded-opentype'),
        url('/app/assets/Quicksand/QuicksandDash-Regular.ttf') format('truetype'),
        url('/app/assets/Quicksand/QuicksandDash-Regular.svg#QuicksandDash-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Book Oblique';
    src: url('/app/assets/Quicksand/QuicksandBookOblique-Regular.eot');
    src: url('/app/assets/Quicksand/QuicksandBookOblique-Regular.eot?#iefix') format('embedded-opentype'),
        url('/app/assets/Quicksand/QuicksandBookOblique-Regular.ttf') format('truetype'),
        url('/app/assets/Quicksand/QuicksandBookOblique-Regular.svg#QuicksandBookOblique-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Bold Oblique';
    src: url('/app/assets/Quicksand/QuicksandBoldOblique-Regular.eot');
    src: url('/app/assets/Quicksand/QuicksandBoldOblique-Regular.eot?#iefix') format('embedded-opentype'),
        url('/app/assets/Quicksand/QuicksandBoldOblique-Regular.ttf') format('truetype'),
        url('/app/assets/Quicksand/QuicksandBoldOblique-Regular.svg#QuicksandBoldOblique-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/app/assets/Quicksand/QuicksandBold-Regular.eot');
    src: url('/app/assets/Quicksand/QuicksandBold-Regular.eot?#iefix') format('embedded-opentype'),
        url('/app/assets/Quicksand/QuicksandBold-Regular.ttf') format('truetype'),
        url('/app/assets/Quicksand/QuicksandBold-Regular.svg#QuicksandBold-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Light Oblique';
    src: url('/app/assets/Quicksand/QuicksandLightOblique-Regular.eot');
    src: url('/app/assets/Quicksand/QuicksandLightOblique-Regular.eot?#iefix') format('embedded-opentype'),
        url('/app/assets/Quicksand/QuicksandLightOblique-Regular.ttf') format('truetype'),
        url('/app/assets/Quicksand/QuicksandLightOblique-Regular.svg#QuicksandLightOblique-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
}

body {
  font-family: 'Quicksand';
}

h1 {
  font: 'Quicksand';
}
