html {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  margin: 0px;
  scroll-behavior: smooth;
  background-color: #4e5b4a;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.5em;
}

.header {
  padding-top: 50px;
  min-height: 100vh;
  height: 100vh;
  max-width: inherit;
  width: 100%;
  align-self: center;
  display: block;
  background: url("assets/Images/hollbiuminleaves3.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  background-color: #98aa8a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius: 5px;
}

button:hover {
  background-color: #aec49d;
}

button:active {
  transform: translateY(2px);
  background-color: #8a9e7b;
}

#logo {
  height: 100px;
  text-align: center;
}

.line {
  width: 100%;
  background-color: rgb(255,255,255, 0.2);
  height: 2px;
}

.footer {
  min-height: 300px;
}

.footcolumn {
  padding-top: 40px;
  float:left;
  width: 50%;
}
/*
#imagestrip {
  background: url("assets/Images/sthlmgreen_wide.jpg") no-repeat center center;

  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.mission {
  min-height: inherit;
  width: 100%;
  align-self: center;
  text-align: center;
  position: relative;
}
.page {
  min-height: 100vh;
  height: 100vh;
  /*background-color: rgb(0,0,0, 0.3);*/
  display: table-row;
  width: 100%;
  margin-top: 60px;
}

.about {
  width: 100%;
  height: inherit;
}

.container {
  min-height: auto;
  display: block;
}


.person {
  flex: 1;
  padding: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.person img {
  border-radius: 100%;
}
.people {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Quicksand Book', Verdana, Geneva, sans-serif;
  color: #ffffff;
  font-size: 24px;
  float: none;
  margin: 0px;
  width: 100%;
}

h1 {
  font: 'Quicksand Bold', Verdana, Geneva, sans-serif;
  padding-top: 10px;
  font-size: 36px;
}

h2 {
  font: 'Quicksand Bold', Verdana, Geneva, sans-serif;
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 34px;
}

h3 {
  font: 'Quicksand Bold', Verdana, Geneva, sans-serif;
  font-size: 30px;
}

h4 {
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0% 10% 5% 10%;
  font-size: 28px;
}

.quote {
  font-size: 24px;
  font-style: italic;
}

nav {
  /*background-color: #000000;*/
  background-color: #4e5b4a;
  top: 0;
  position: fixed;
  z-index:999;
  overflow: hidden;
  width: 100%;
  font-family: 'Quicksand Book';
  box-shadow: 0 15px 15px -15px rgb(0, 0, 0, 0.6);
  height: 60px;
}

.navcontainer {
  height: 30px;
}
.minilogo {
  float: left;
  height: inherit;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0px;
  vertical-align: top;
}
/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  padding: 2px;
  padding-right: 20px;
  outline: 0;
}

/* Change the color of links on hover */
nav a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
  align-content: center;
}

img {
  height: inherit;
  display: inherit;
  margin: auto;
}

img .person {
  float: left;
  height: inherit;
  padding-left: 10px;
  vertical-align: top;
}

.credit {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:active {
  text-decoration: underline;
  color: #ffffff;
}

@font-face {
    font-family: 'Quicksand Light';
    src: url('assets/Quicksand/QuicksandLight-Regular.eot');
    src: url('assets/Quicksand/QuicksandLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandLight-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandLight-Regular.svg#QuicksandLight-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Book';
    src: url('assets/Quicksand/QuicksandBook-Regular.eot');
    src: url('assets/Quicksand/QuicksandBook-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandBook-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandBook-Regular.svg#QuicksandBook-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Dash';
    src: url('assets/Quicksand/QuicksandDash-Regular.eot');
    src: url('assets/Quicksand/QuicksandDash-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandDash-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandDash-Regular.svg#QuicksandDash-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Book Oblique';
    src: url('assets/Quicksand/QuicksandBookOblique-Regular.eot');
    src: url('assets/Quicksand/QuicksandBookOblique-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandBookOblique-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandBookOblique-Regular.svg#QuicksandBookOblique-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Bold Oblique';
    src: url('assets/Quicksand/QuicksandBoldOblique-Regular.eot');
    src: url('assets/Quicksand/QuicksandBoldOblique-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandBoldOblique-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandBoldOblique-Regular.svg#QuicksandBoldOblique-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url('assets/Quicksand/QuicksandBold-Regular.eot');
    src: url('assets/Quicksand/QuicksandBold-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandBold-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandBold-Regular.svg#QuicksandBold-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Light Oblique';
    src: url('assets/Quicksand/QuicksandLightOblique-Regular.eot');
    src: url('assets/Quicksand/QuicksandLightOblique-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandLightOblique-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandLightOblique-Regular.svg#QuicksandLightOblique-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
}
