html {
  min-height: 100vh;
  height: 100vh;
  min-width: 100%;
  width: 100%;
  margin: 0px;
  scroll-behavior: smooth;
  background-color: #4e5b4a;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 2em;
  padding: 0px;
  text-align: center;
}

.coverImg {
  width: 100%;
  margin: 0px;
  text-align: center;
  object-fit: contain;
}

.header h1 {
  position: absolute;
  text-align: center;
  padding-top: 10%;
  line-height: 1em;
  left: 0;
  right: 0;
  font-size: 3.5vw;
}

.header {
  max-height: 100vh;
  width: 100%;
  align-self: center;
  display: block;
  text-align: center;
  overflow: hidden;
}

button {
  background-color: #98aa8a;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius: 5px;
}

button:hover {
  background-color: #aec49d;
}

button:active {
  transform: translateY(2px);
  background-color: #8a9e7b;
}

#logo {
  height: 100px;
  text-align: center;
}

.line {
  width: 100%;
  background-color: rgb(255,255,255, 0.2);
  height: 2px;
}

.footer p{
  /*min-height: 300px;*/
  font-size: 16px;
}

.footcolumn {
  padding-top: 40px;
  float:left;
  width: 50%;
}

.mission {
  min-height: inherit;
  width: 100%;
  align-self: center;
  text-align: center;
  /*position: relative;*/
}

.page {
  min-height: 100vh;
  max-height: 100vh;
  display: table-row;
  width: 100%;
  min-width: 100%;
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

.about {
  width: 100%;
  height: inherit;
  background-color: #ffffff;
}

.container {
  min-height: auto;
  display: block;
}


.person {
  flex: 1;
  padding: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.person img {
  border-radius: 100%;
}

.people {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row-problem {
  /*background-image: url("assets/Images/shopping_bag.png");*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  max-width: 100%;
  color: #4e5b4a;
}

.row {
  width: inherit;
}

.column-problem {
  background-color: #ffffff;
  float: left;
  width: 25%;
  min-width: 400px;
  height: 100%;
}

.column {
  float: left;
  width: 33.33%;
  height: 100%;
}

.row-problem:after {
  content: "";
  display: table;
  clear: both;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.partnerlogos {

  display: flex;
  text-align: center;
  width: 100%;
  min-height: 200px;
  background-color: #ffffff;
  align-content: center;
  flex-wrap: wrap;
}

.partnerlogos img {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 200px;
}

body {
  font-family: 'Quicksand Book', Verdana, Geneva, sans-serif;
  color: #ffffff;
  font-size: 24px;
  float: none;
  margin: 0px;
  min-width: 100%;
  width: 100%;
  min-width: 100%;
}

h1 {
  font: 'Quicksand Bold', Verdana, Geneva, sans-serif;
  padding-top: 10px;
  font-size: 36px;
}

h2 {
  font: 'Quicksand Bold', Verdana, Geneva, sans-serif;
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 34px;
}

h3 {
  font: 'Quicksand Bold', Verdana, Geneva, sans-serif;
  font-size: 30px;
}

h4 {
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0% 10% 5% 10%;
  font-size: 20px;
}

.quote {
  font-size: 24px;
  font-style: italic;
}

ul {
  list-style-type: none;
  align-content: center;
}

img {
  height: inherit;
  display: inherit;
  margin: auto;
}

img .person {
  float: left;
  height: inherit;
  padding-left: 10px;
  vertical-align: top;
}

.credit {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:active {
  text-decoration: underline;
  color: #ffffff;
}

@font-face {
    font-family: 'Quicksand Light';
    src: url('assets/Quicksand/QuicksandLight-Regular.eot');
    src: url('assets/Quicksand/QuicksandLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandLight-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandLight-Regular.svg#QuicksandLight-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Book';
    src: url('assets/Quicksand/QuicksandBook-Regular.eot');
    src: url('assets/Quicksand/QuicksandBook-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandBook-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandBook-Regular.svg#QuicksandBook-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Dash';
    src: url('assets/Quicksand/QuicksandDash-Regular.eot');
    src: url('assets/Quicksand/QuicksandDash-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandDash-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandDash-Regular.svg#QuicksandDash-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Book Oblique';
    src: url('assets/Quicksand/QuicksandBookOblique-Regular.eot');
    src: url('assets/Quicksand/QuicksandBookOblique-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandBookOblique-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandBookOblique-Regular.svg#QuicksandBookOblique-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Bold Oblique';
    src: url('assets/Quicksand/QuicksandBoldOblique-Regular.eot');
    src: url('assets/Quicksand/QuicksandBoldOblique-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandBoldOblique-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandBoldOblique-Regular.svg#QuicksandBoldOblique-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url('assets/Quicksand/QuicksandBold-Regular.eot');
    src: url('assets/Quicksand/QuicksandBold-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandBold-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandBold-Regular.svg#QuicksandBold-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Light Oblique';
    src: url('assets/Quicksand/QuicksandLightOblique-Regular.eot');
    src: url('assets/Quicksand/QuicksandLightOblique-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/Quicksand/QuicksandLightOblique-Regular.ttf') format('truetype'),
        url('assets/Quicksand/QuicksandLightOblique-Regular.svg#QuicksandLightOblique-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* Add a black background color to the top navigation */
.topnav {
 background-color:#4e5b4a;
 position: fixed;
 width: 100%;
 box-shadow: 0 15px 15px -15px rgb(0, 0, 0, 0.6);
 z-index: 100;
}

/* Style the links inside the navigation bar */
.topnav a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 font-size: 18px;
 padding: 14px 16px;
 text-decoration: none;
 outline: none;
}

.topnav a .nav-social {
  width: 30px;
  float: right;
}

/* Add an active class to highlight the current page */
.active {
 color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
 display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
 float: left;
 overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn{
 font-size: 18px;
 border: none;
 outline: none;
 line-height: 36px;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 float: left;
 display: block;
 color: #ffffff;
 text-align: center;
 border: none;
 text-decoration: none;
 margin: 0px;
}


/* Style the dropdown content (hidden by default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #4e5b4a;
 min-width: 160px;
 margin-top: 60px;
 z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
 float: none;
 color: white;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
  box-shadow: 0 1px 1px -1px rgb(0, 0, 0, 0.6);
 text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
 color: white;
 text-decoration: underline;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
 color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
 display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
 .topnav a:not(:first-child), .dropdown .dropbtn {
   display: none;
 }
 .topnav a.icon {
   float: right;
   display: block;
 }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
 .topnav.responsive {position: fixed;
  /*background-color: rgba(78, 91, 74, 0.9);*/}}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;

 }
 .topnav.responsive .dropdown {float: none;}
 .topnav.responsive .dropdown-content {position: relative; }
 .topnav.responsive .dropdown .dropbtn {
   display: block;
   width: 100%;
   text-align: left;
 }
}
