
<div class="container">
  <div class="text-container">
    <h2>About Us</h2>
    <p>Starting out in a basement in the suburbs of Stockholm, we are an out-of-the-box startup. We are passionate about the intersection of design, technology and urban farming. We are a sustainable business that delivers designed vertical farming tailored for urban spaces, mainly indoors. We believe that through each square meter of unused vertical space that we conquer, we directly help businesses to become the game changers in the battle towards a more sustainable and locally sourced food production. At the same time, we work toward improving the well-being and quality of life in urban spaces.
    </p>
  </div>
</div>
